
@{
    ViewData["Title"] = "Generate Integer Spiral";
}

<h1>@ViewData["Title"]</h1>

<form action="/integerspiral/generate" method="post">
    <label for="Width">Width</label>
    <input type="text" name="Width" />

    <input type="submit" name="submit" />
</form>

